<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      .navbar {
        height: 70px;
      }
      .logo {
        width: 40px; /* Ajusta el ancho según tu necesidad */
        height: 40px; /* Ajusta la altura según tu necesidad */
        object-fit: cover; /* Esto asegurará que la imagen se ajuste dentro del cuadro sin distorsionarse */
      }
      .custom-container {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="#">
              <img
                src="/static/app/img/logo.jpeg"
                width="30"
                height="30"
                alt="logo"
                class="rounded-circle logo"
              />
              HolaDepa
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row justift-content-center align-items-center vh-100">
        <div class="col-sm-12">
          <div class="custom-container">
            {% block stepCount %} {% endblock %} {% block content %} {% endblock%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
