{% extends 'base_step.html' %} {% block title %} Conociendote {% endblock %} {%block content %}
<form id="process-form">
  <div class="row justift-content-center">
    <div class="col-sm-12">
      <h4>En que parte del proceso te encuentras?</h4>
    </div>
  </div>

  <div class="form-group">
    {% if current_status_list %}
      {% for current in current_status_list %}
      <button
        type="button"
        class="btn btn-secondary btn-lg btn-block"
        onclick="window.location.href='{% url 'steps' 1 %}'"
      >
        {{ current.value }}
      </button>
      {%  endfor %}
    {%  endif %}
    <!-- <button
      type="button"
      class="btn btn-secondary btn-lg btn-block"
      onclick="window.location.href='{% url 'steps' 1 %}'"
    >
      He separado un departamento
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-lg btn-block"
      onclick="window.location.href='{% url 'steps' 1 %}'"
    >
      Estoy empezando a buscar
    </button> -->
  </div>
</form>
<script>
  function handleOptionClick(option) {
    window.location.href = "/steps/1";
  }
</script>
{% endblock %}
