{% extends 'base_potential_lead_steps.html' %} {% block title %}HolaDepa -Workflow 2 - step 1 {% endblock %} {% block content %}
<h3>!{{user_name}}, comencemos con tu precalificación!</h3>
<p>Conoce los requisitos:</p>
<div class="container border p-4">
  <form action="{% url 'base_lead_step' 2 %}" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-check-circle text-success"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
        />
      </svg>
      <div class="col">
        <p>1. Rango de edad: Debes tener entre 18 y 65 años.</p>
      </div>
    </div>
    <div class="row">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-check-circle text-success"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
        />
      </svg>
      <div class="col">
        <p>
          2. Crédito e ingreso mínimo: El monto máximo a financiar es el 90% del
          valor del inmueble y tus ingresos mensuales deben ser mayores a S/
          1,500 o $ 400
        </p>
      </div>
    </div>
    <div class="row">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-check-circle text-success"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
        />
      </svg>
      <div class="col">
        <p>
          3. Historial crediticio: Debes contar con buena calificación en el
          sistema financiero.
        </p>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Comenzar ahora</button>
  </form>
</div>

{% endblock %}
