{% extends 'base_step.html' %} {% block title %}Hola Depa Step 3{% endblock %}{% block stepCount %}
<div class="form-header">
  <h1>Paso {{progress}} de 4</h1>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      ,
      style="width: 75%"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>
{% endblock %} {% block content %}
<form action="{% url 'steps' 4 %}" method="POST">
  {% csrf_token %}
  <h4>¿Cual es tu domicilio?</h4>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="adress_description">Escriba su direccion:</label>
      <input class="form-control" type="text" placeholder="" />
    </div>
  </div>

  <div class="form-row justify-content-end">
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary">Continuar</button>
    </div>
  </div>
</form>
{% endblock %}
